<%- layout("/layouts/boilerplate") %>

<div class="row">
    <div class="alert alert-primary col-6 offset-3" role="alert">
               <h4 class="alert-heading"><%= message %></h4>
                <p><%= err %></p>
                <h3>Status Code: <%=statusCode%></h3>
    </div>
<div>
 